.cell {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  background: #c6c6c6;
  position: relative;
  font-weight: 500;
  font-size: 14px;

  &:before,
  &:after {
    display: block;
    width: inherit;
    height: inherit;
  }

  &.opened.red {
    background: #dd2e44;
  }

  &.opened {
    background: #c4c4c4;
  }

  &:not(.empty) {
    cursor: pointer;
  }

  &.opened,
  &.mine,
  &:active:not(.flag) {
    border-bottom: 1px solid #828282;
    border-right: 1px solid #828282;
    border-left: none;
    border-top: none;
  }
}

.hidden {
  display: none;
}

.game-result {
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #7b7b7b;
  border-bottom: 3px solid #7b7b7b;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;

  img {
    padding: 6px;
    margin: -3px;
    width: inherit;
    height: inherit;
  };
}

.game-result:active {
  border-left-color: #7b7b7b;
  border-top-color: #7b7b7b;
  border-right: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
}

.mines1 {
  color: blue;
}
.mines2 {
  color: #007B00;
}
.mines3 {
  color: #FF0000;
}
.mines4 {
  color: #00007B;
}
.mines5 {
  color: #7B0000;
}
.mines6 {
  color: #007B7B;
}
.mines7 {
  color: #000000;
}
.mines8 {
  color: #7B7B7B;
}

.status-wrapper {
  align-items: center;
  background: #c4c4c4;
  border-left: 3px solid #7b7b7b;
  border-top: 3px solid #7b7b7b;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  height: 50px;
}

.separator {
  height: 5px;
}

.time-spent {
  cursor: pointer;
}

.flag:before {
  content: url(../icons/flag.svg);
  width: 16px;
  height: 16px;
}

.mine:before {
  content: url(../icons/mine.svg);
  padding: 3px;
}

.cross {
  position: relative;
}

.cross:after {
  content: url(../icons/cross.svg);
  padding: 3px;
  position: absolute;  
  top: 0;
  width: inherit;
}

.mines-number {
  text-align: center;
  width: 100%;
  height: 100%;
}

.cell.mine .mines-number {
  display: none;
}

.game-grid-wrapper {
  background: #c0c0c0;
  border-right: 3px solid #7b7b7b;
  border-bottom: 3px solid #7b7b7b;
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  display: inline-block;
  padding: 8px;
  margin: 8px 16px 16px 0;

  .surprised-icon {
    display: none;
  }
}

.zoomable {
  display: inline-block;
  vertical-align: top;
}

.game-grid-wrapper.pressed {
  .smile-icon {
    display: none;
  }

  .surprised-icon {
    display: inline;
  }
}

.game-grid {
  border-left: 3px solid #7b7b7b;
  border-top: 3px solid #7b7b7b;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  display: grid;

  &.paused {
    opacity: 0.65;
    .cell {
      cursor: default;
    }
  }

  &.paused,
  &.finished {
    pointer-events: none;
  }
}

.grid-beginner {
  grid-template-columns: repeat(9, 24px);
}

.grid-normal {
  grid-template-columns: repeat(16, 24px);
}

.grid-expert {
  grid-template-columns: repeat(30, 24px);
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.1;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

.select-complexity {
  font-size: 18px;
}

.complexity-wrapper div.radio {
  margin: 8px 0;

  label {
    cursor: pointer;
  }

  input {
    cursor: pointer;
    margin: 0 8px 0 0;
  }
}

.number-board__wrapper {
  background: url(../icons/board.svg);
  background-size: contain;
  display: flex;
  height: 35px;
  justify-content: space-between;
  margin: 0 4px;
  padding: 3px;
  width: 56px;

  .number-board__digit {
    background-size: cover;
    background-repeat: no-repeat;
    width: 15px;
    height: 29px;

    &.zero {
      background-image: url(../icons/0.svg);
    }
    &.one {
      background-image: url(../icons/1.svg);
    }
    &.two {
      background-image: url(../icons/2.svg);
    }
    &.three {
      background-image: url(../icons/3.svg);
    }
    &.four {
      background-image: url(../icons/4.svg);
    }
    &.five {
      background-image: url(../icons/5.svg);
    }
    &.six {
      background-image: url(../icons/6.svg);
    }
    &.seven {
      background-image: url(../icons/7.svg);
    }
    &.eight {
      background-image: url(../icons/8.svg);
    }
    &.nine {
      background-image: url(../icons/9.svg);
    }
  }
}

.zoom {
  display: inline-block;
  margin: 0 4px;

  img {
    vertical-align: middle;
    width: 24px;
  }

  span {
    margin-left: 4px;
    font-size: 14px;
    vertical-align: middle;
  }
}

.zoom-wrapper button {
  line-height: 2px;
  margin: 4px;
  padding: 8px;
}