{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "client": "./client"
      }
    }]
  ]
}
