.grid {
  border-left: 1px solid #7b7b7b;
  border-right: 1px solid #7b7b7b;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 48px;
  grid-auto-rows: 40px;
  margin-top: 14px;
  min-width: 400px;
}

.grid__row {
  display: contents;
}

.grid__row:hover .grid__cell {
  background: #7b7b7b30;
}

.grid__cell,
.grid__header-cell {
  align-items: center;
  border-bottom: 1px solid #7b7b7b;
  display: flex;
  overflow: hidden;
}

.grid__header-cell {
  border-top: 1px solid #7b7b7b;
  font-weight: 500;
  min-width: 100px;
}

.grid__cell {
  position: relative;
}

.grid__cell__content {
  overflow: hidden;
  padding: 0 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid__header-cell .grid__cell__content {
  padding: 0 4px 0 16px;
}

.complexity {
  display: flex;

  .complexity__item {
    cursor: pointer;
    padding: 8px;
    margin-right: 8px;

    &.selected {
      background: #7b7b7b30;
      cursor: default;
    }

    &:hover {
      background: #7b7b7b30;
    }
  }
}

.pagination {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  margin: 8px 0 16px 0;

  &[hidden] {
    display: none;
  }

  button {
    line-height: 8px;
    padding: 8px;
    font-size: 14px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (hover: none) and (max-width: 800px) {
  .pagination {
    justify-content: flex-start;
    margin: 8px 0 16px 0;
  
    button {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}