.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  background: #BDBDBD;
  position: relative;
  font-weight: 500;
  font-size: 14px;

  &:before,
  &:after {
    display: block;
    padding: 5px;
    width: inherit;
    height: inherit;
  }

  &.opened.red {
    background: #dd2e44;
  }

  &.opened {
    background: #c0c0c0;
  }

  &:not(.empty) {
    cursor: pointer;
  }

  &.opened,
  &.bomb,
  &:active:not(.flag) {
    border-bottom: 1px solid #828282;
    border-right: 1px solid #828282;
    border-left: none;
    border-top: none;
  }
}

.hidden {
  display: none;
}

.game-result {
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;

  img {
    padding: 5px;
    margin: -2px;
    width: inherit;
    height: inherit;
  };
}

.game-result:active {
  border-left-color: #7b7b7b;
  border-top-color: #7b7b7b;
  border-right: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
}

.mines1 {
  color: blue;
}
.mines2 {
  color: #007B00;
}
.mines3 {
  color: #FF0000;
}
.mines4 {
  color: #00007B;
}
.mines5 {
  color: #7B0000;
}
.mines6 {
  color: #007B7B;
}
.mines7 {
  color: #000000;
}
.mines8 {
  color: #7B7B7B;
}

.status-wrapper {
  align-items: center;
  background: #c0c0c0;
  border-left: 2px solid #7b7b7b;
  border-top: 2px solid #7b7b7b;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  height: 50px;
  padding: 0 5px;
}

.separator {
  height: 5px;
}

.flags-left,
.time-spent {
  align-items: center;
  display: flex;
  width: 90px;
  height: 100%;

  img {
    width: 18px;
    margin-right: 4px;
  }

  span {
    line-height: 30px;
  }
}

.flags-left {
  justify-content: flex-end;
}

.time-spent {
  cursor: pointer;
}

.flag:before {
  content: url(../icons/flag.svg);
  margin: -2px;
}

.bomb:before {
  content: url(../icons/bomb.svg);
}

.cross {
  position: relative;
}

.cross:after {
  content: url(../icons/cross.svg);
  position: absolute;
  top: 0;
  width: inherit;
}

.mines-number {
  text-align: center;
  width: 100%;
  height: 100%;
}

.cell.bomb .mines-number {
  display: none;
}

.game-grid-wrapper {
  background: #c0c0c0;
  border-right: 3px solid #7b7b7b;
  border-bottom: 3px solid #7b7b7b;
  display: inline-block;
  padding: 5px;
  margin: 8px 16px 16px 0;

  .surprised-icon {
    display: none;
  }
}

.game-grid-wrapper.pressed {
  .smile-icon {
    display: none;
  }

  .surprised-icon {
    display: inline;
  }
}

.game-grid {
  border-left: 2px solid #7b7b7b;
  border-top: 2px solid #7b7b7b;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  display: grid;
  touch-action: pan-x pan-y;

  &.paused {
    opacity: 0.65;
    .cell {
      cursor: default;
    }
  }

  &.paused,
  &.finished {
    pointer-events: none;
  }
}

.grid-beginner {
  grid-template-columns: repeat(9, 1fr);
}

.grid-normal {
  grid-template-columns: repeat(16, 1fr);
}

.grid-expert {
  grid-template-columns: repeat(30, 1fr);
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.1;
}

.select-complexity {
  font-size: 18px;
}

.complexity-wrapper div.radio {
  margin: 8px 0;

  label {
    cursor: pointer;
  }

  input {
    cursor: pointer;
    margin: 0 8px 0 0;
  }
}

@media (max-width: 800px) {
  .cell {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #7b7b7b;
    border-bottom: 3px solid #7b7b7b;

    &:before,
    &:after {
      padding: 8px;
    }

    &.flag:before {
      margin: -3px;
    }
  }

  .status-wrapper {
    height: 60px;
    font-size: 21px;
  }

  .flags-left img,
  .time-spent img {
    width: 24px;
    margin-right: 5px;
  }

  .game-result {
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #7b7b7b;
    border-bottom: 3px solid #7b7b7b;
    height: 50px;
    width: 50px;

    img {
      padding: 8px;
      margin: -3px
    };
  }
}