.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-right: 1px solid #828282;
  border-bottom: 1px solid #828282;
  background: #BDBDBD;
}

.cell[data-col="0"] {
  border-left: 1px solid #828282;
}

.cell[data-row="0"] {
  border-top: 1px solid #828282;
}

.cell.red {
  background: red;
}

.cell.green {
  background: green;
}

.cell.dummy-cell {
  opacity: 0.6;
}

.game-grid {
  margin-top: 10px;
}

.finish-game {
  margin-left: 10px;
}