@import "MinesweeperComponents/Minesweeper";
#root {
  margin: 0 auto;
  width: 600px;
}

body {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.description {
  display: none;
}

.view-github { 
  font-size: 18px;
  * {
    vertical-align: middle;
  }
  .fa {
    font-size: 24px;
  }
  span {
    margin-left: 4px;
  }
}