@import "MinesweeperComponents/Minesweeper";
#root {
  margin: 0 auto;
  width: 600px;
}

.view-github { 
  font-size: 18px;
  * {
    vertical-align: middle;
  }
  .fa {
    font-size: 24px;
  }
  span {
    margin-left: 4px;
  }
}