@import "MinesweeperComponents/Minesweeper";
#root {
  margin: 0 auto;
  padding: 16px;
  max-width: 933px;
}

body {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.description {
  display: none;
}

.view-github { 
  font-size: 18px;
  text-decoration: none;
  * {
    vertical-align: middle;
  }
  img {
    width: 21px;
  }
  span {
    margin-left: 4px;
  }
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}