@import "MinesweeperComponents/Minesweeper";
#root {
  margin: 0 auto;
  padding: 16px;
  max-width: 933px;
}

body {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

ul {
  padding-inline-start: 20px;
}

.btn {
  font-size: 18px;
  text-decoration: none;
  color: black;
  background: #BDBDBD;
  padding: 5px;
  border-right: 2px solid #7b7b7b;
  border-bottom: 2px solid #7b7b7b;

  &:active,
  &.active {
    border-left: 2px solid #7b7b7b;
    border-top:2px solid #7b7b7b;
    border-right: 1px solid #7b7b7b;
    border-bottom: 1px solid #7b7b7b;
  }

  &:hover {
    background: #bdbdbdcc;
  }

  * {
    line-height: 21px;
    vertical-align: middle;
  }
}

.view-github { 
  img {
    width: 18px;
  }
  span {
    margin-left: 4px;
  }
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  white-space: nowrap;

  a {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 16px;  
    }
  }
}