@import "MinesweeperComponents/Minesweeper";
@import "HighScore/Grid";
@import "HighScore/FilterIcon";
@import "Dialog/Dialog";
#root {
  margin: 0 auto;
  padding: 16px;
  max-width: 780px;
}

body {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
  touch-action: pan-x pan-y;
}

ul {
  padding-inline-start: 20px;
}

h1.title {
  font-size: 24px;
  font-weight: 500;
  height: 40px;
  margin: 0 16px 0 0;
  line-height: unset;

}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: unset;
    text-decoration: unset;
  }

  a.title {
    font-size: 24px;
    font-weight: 500;
    height: 40px;
    margin-right: 16px;
  }

  .navigation a {
    align-items: center;
    display: flex;
    font-size: 18px;
    flex-shrink: 0;
    margin: 0 0 0 8px;
    padding: 0 12px;
    text-decoration: unset;

    &:hover,
    &.active {
      background: #7b7b7b30;
    }

    &.active {
      cursor: default;
    }
  }
}

.navigation {
  display: flex;
  height: 48px;
}

main {
  margin-top: 8px;
}

button {
  cursor: pointer;
  background: #c6c6c6;
  border-left: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  box-sizing: content-box;
  font-size: 18px;
  line-height: 14px;
  margin: 8px;
  outline: none;
  padding: 8px 16px;
  position: relative;

  &:active {
    border-left-color: #7b7b7b;
    border-top-color: #7b7b7b;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
  }

  &[disabled] {
    cursor: default;
    border-color: #ffffff;
  }
}