.dialog {
  display: inline-block;
  margin-top: 8px;
}

.dialog__content {
  border: 1px solid black;
  padding: 16px;
  width: 300px;

  h3 {
    font-weight: 500;
    margin: 0 0 8px 0;
    text-align: center;
  }

  div:not(.dialog__buttons) {
    font-size: 16px;
    line-height: 24px;
  }

  .productivity {
    color: #007B00;
  }

  input {
    font-size: 16px;
    height: 32px;
    margin: 8px 0;
    outline: none;
    padding: 6px 7px;
    width: 100%;
  }

  .dialog__buttons {
    text-align: right;

    button:last-of-type {
      margin: 8px 0;
    }
  }
}